/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* **************************************** */

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.modal-header {
  font-size: 2rem;
  color: #3f0122;
  font-weight: 700;
  background-color: #33ccff;
}

.modal button {
  font-size: 1.7rem;
}

.btn-primary,
.btn-secondary {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #3f0122;
  outline: none;
  border: none;
  width: 40%;
}
.btn-primary:hover,
.btn-secondary:hover {
  background: linear-gradient(to bottom, #33ccff 0%, #3f0122 100%);
  color: white;
}

.btn-secondary {
  background-color: #33ccff;
}

.modal-footer {
  justify-content: center;
}
